nav > div {
  color: white;
  padding: 10px 20px;
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 80% 15% 5%;
  width: 100%; }
  nav > div .today h3 {
    margin: 0;
    font-size: 1.3em;
    padding-bottom: 5px; }
  nav > div .today p {
    margin: 0;
    font-size: 0.9em; }
  nav > div .burger {
    justify-self: start;
    padding-top: 18px;
    transition: .3s;
    cursor: pointer; }
    nav > div .burger:hover .ingredient {
      background-color: white !important; }
    nav > div .burger .ingredient {
      justify-self: end;
      background-color: #6F6C97;
      width: 50px;
      height: 3px;
      margin-bottom: 4px;
      transition: .3s; }
  nav > div .menu {
    padding-top: 18px;
    color: #7b7794;
    opacity: 0;
    transition: .4s;
    font-size: .83em; }
    nav > div .menu p {
      display: inline; }
      nav > div .menu p:hover {
        color: white;
        cursor: pointer; }
  nav > div .menu-active {
    opacity: 1; }

@media only screen and (max-width: 800px) {
  nav > div {
    grid-template-columns: 35% auto 15%; } }
