@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800&display=swap');
@import '../../assets/scss/variables.scss';

body, html {
  margin: 0;
  padding: 0;
  background-color: $bodyColor;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

*, *:after, *:before {
  box-sizing: border-box;
}

nav {
  width: 100%;
}

main, header, footer {
  max-width: 900px;
  margin: auto;
}

main {

  section {

    .main-section-title {
      text-align: center;
      color: white;
      font-size: 1.1em;
    }
  }

  .add{
    position: fixed;
    bottom: 24px;
    right: 16px;

    padding: 16px 18px;
    background-color: #3571fa;
    color: white;
    border-radius: 50%;

    &:hover{
      background-color: #1660ff;
    }
  }
}

footer {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  padding: 0 15px;
  margin-top: 120px;

  p {
    color: #413e51;
    font-size: .9em;
  }

  a {
    justify-self: end;

    i {
      color: #686f82;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }
  }

}