nav > div {
  color: white;
  padding: 10px 20px;
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 80% 15% 5%;
  width: 100%;

  .today {

    h3 {
      margin: 0;
      font-size: 1.3em;
      padding-bottom: 5px;
    }
    p {
      margin: 0;
      font-size: 0.9em;
    }
  }

  .burger{
    justify-self: start;
    padding-top: 18px;
    transition: .3s;
    cursor: pointer;

    &:hover{

      .ingredient{
        background-color: white !important;
      }
    }

    .ingredient{
      justify-self: end;
      background-color: #6F6C97;
      width: 50px;
      height: 3px;
      margin-bottom: 4px;
      transition: .3s;
    }
  }

  .menu{
    padding-top: 18px;
    color: #7b7794;
    opacity: 0;
    transition: .4s;
    font-size: .83em;

    p{
      display: inline;

      &:hover{
        color: white;
        cursor: pointer;
      }
    }
  }

  .menu-active{
    opacity: 1;
  }
}