.summary{

  .money-status{
    text-align: center;

    h1{
      font-size: 2.5em;
      color: white;
      margin: 0;
    }

    p{
      font-size: .91em;
      color: #68638D;
      margin: 4px 0;
    }

  }
}