<div class="template">
    <div class="money-status">
        <h1>37/120</h1>
        <p>
            <span style="color: white">83</span>
            left to spend or
            <span style="color: #3E9847; text-decoration: underline">save</span>
        </p>
    </div>

    <div class="chart">
        <div class="line"></div>

        <div class="hours">
            <span>0:00</span>
            <span>3:00</span>
            <span>6:00</span>
            <span>9:00</span>
            <span>12:00</span>
            <span>15:00</span>
            <span>18:00</span>
            <span>21:00</span>
            <span>24:00</span>
        </div>
    </div>
</div>